html{
    background-color: black;
    scroll-behavior: smooth;
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin: 0;
}

header{
    background-color: black;
    font-size: 2em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    color: rgb(230, 225, 225);

}
header a:hover{
    color: aqua;
}

.registrar:hover{
    background-color: rgb(253, 152, 152);
    box-shadow: 2px 2px 10px rgba(0,0,0,1);
}
.container{
    max-width: 100%;/*Este valor contiene el maximo eprmitido de ancho por la pantalla*/
    margin: auto;
}
.logo{
    margin-left: 50px;
    width: 400px;
    height: 160px;
}

.titulologin{
    
    font-size: 4rem;
    text-align: center;
    color: white;
}
.imagenlogin{
    width: 360px;
    height: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.fondogris{
    font-family: "Sriracha",Impact , sans-serif;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
   
    background-color:#2F2C2C;
    border-radius: 50px;
}
.formulario{
    /* padding-left: 30%; */
    font-size: 3em;
    text-align: center;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;/*Altura de 90viohigh va cambiando en base a la altura del dispositivo ocupando el 90% de la pantalla*/
    color: rgb(0, 0, 0);
    background-image: linear-gradient(
        0deg,/*la direccion del gradiente 0deg,*/
        rgba(0,0,0,0),
        rgb(0, 0, 0)
    ) 
    ,url("/static/css/images/fondoindex.png");
    


    /*Una buena tecnica para que haya ams constraste entre el fondo y la letra, colocar una "coma" y antes de eso colocar el "klinear-gradient()"*/
    background-repeat: no-repeat;/*para que no se repita*/
    background-size: cover;/*Para que ocupe todo el espacio disponible*/
    background-position: center center;/*Para que se centree*/ 
}

#hero .texto{
    color: rgb(223, 223, 223);
}

.textobienvenida{
    font-size: 6rem;
}

.link{
    font-family: "Sriracha",Impact , sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 30px;
    margin: 30px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0,0,0.5);
    color: white;
    background-color: rgb(237, 0, 0);
}

.link:hover{
    background-color: rgb(253, 152, 152);
    box-shadow: 2px 2px 10px rgba(0,0,0,1);
}

@media (min-width: 1290px){
    /*Llamar al mismo estilo header .container porque debe REEMPLAZAR*/
    header{
        /*Para que el header (barra horizontal de arriba), no se mueva y tambien si o si debemos
        darle el width del 100%*/
        position: fixed;
        width: 100%;
        background-position: left top;
    }

    header nav{
        flex-direction: row;
        align-items: center;
    /*Debemos sacar padding porque en version web no sirve xd*/
        padding: 36px;
        padding-right: 20px;/*para que no se vaya tanto al costado y darle padding a la derecha xd*/
    
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;/*Para separar los contenidos*/
    }
    .botoniniciar{
        position: relative;
        top: 82px;
        margin-left: 60vw;
    }
    .registrar{
        padding: 0px 30px;
        justify-content: center;
        margin-left: 15vw;
    }
    .seccionlogin{
        padding-top: 160px;
    }
    /* PARA QUE SE ALINIEN A LA DERECHA */
    .campo{
        position: relative;
        bottom: 65px;
   
    } 
    .label{
        display: block;
        text-align: left;
        margin-left: 5%;
    }
}