<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- REFERENCIAMOS A GOOGLE FONTS CON LA FUENTE SRIRACHA -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <!-- LINK A CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles-administrador.css') }}" />

    <title>Administrador</title>
</head>
<body>
    <header>
        <div class="container">
        <!-- Vamos a poner nuestros elementos dentro de un container y le damos un ancho maximo, margen automatico para que se mantenga en el centro -->
            <img class="logo" src="/static/css/images/logostudiocuisine.png" alt="Logo StudioCuisine">      
        <!-- <div class="logocuisine"></div> -->
              
              <nav>
                <a href="/templates/index.html">Inicio</a>
                <a href="/templates/menu1combi.html">Productos</a>
                  <a href="#">Antójate</a>
                  <a href="#">Restaurantes</a>
                  <a href="#">Contactanos</a>
                  <a href=""></a><!-- PEDIR Aqui se hara el pedido xd -->
              </nav>   
          </div>
          
  
</header>
<section id="hero">
        
    <div class="img-container"></div>



    <div class="texto">
         <h2 class="textobienvenida">Bienvenido Administrador!!</h2>

             

         <a href="/templates/registrarse.html" class="link">Registrar nuevo usuario</a>
         <a href="/templates/quitar.html" class="link">Quitar un Usuario</a>
         <a href="" class="link">Pedidos historicos</a>
         <a href="" class="link">Ganancias</a>
     </div>



 
</section>


    
</body>
</html>