<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Combi</title>
    <!-- REFERENCIAMOS A GOOGLE FONTS CON LA FUENTE SRIRACHA -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <!-- LINK A CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles-menu1combi.css') }}" />
</head>
<body>
        <!-- COPIA DEL HEADER NORMAL -->
        <header>
            <div class="container">
            <!-- Vamos a poner nuestros elementos dentro de un container y le damos un ancho maximo, margen automatico para que se mantenga en el centro -->
                <img class="logo" src="/static/css/images/logostudiocuisine.png" alt="Logo StudioCuisine">      
            <!-- <div class="logocuisine"></div> -->
                  
                  <nav>
                      <a href="/templates/index.html">Inicio</a>
                      <a href="/templates/menu1combi.html">Productos</a>
                      <a href="#">Antójate</a>
                      <a href="#">Restaurantes</a>
                      <a href="#">Contactanos</a>
                      <a href=""></a><!-- PEDIR Aqui se hara el pedido xd -->
                  </nav>   
              </div>
              
      
    </header>

    <section class="seccionmenu">
        <div class="fondogris">
            <h1 class="titulomenu">MENU COMBI GRILLED BURGUER</h1>
            <div class="contenido">
                <div class="container-cards">

                     <!-- FORMULARIO -->
                     <form action="/templates/carrito.html" method="get">

                        <!-- INICIA CARD -->
                        <div class="card">
    
                            <div class="img"><img src="/static/css/images/menucombi/hclasica.png" alt="Combi Clasica"></div>
                            
                            
                            <div class="producto-info">
                                <h2 class="producto">1. Combi Clasica</h2>
                                <p class="texto">150 gr. de jugoso bife chorizo al GRILL cubierto de queso cheddar, tomate laminado, pepinillo y cebolla encurtidos, y salsa mayotomate de la casa.
    Todo en pan artesanal de papa.</p></div>
    
                            <div class="precio"><h3>Bs. 30</h3></div>
    
                            <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>
    
                            
                        </div>
                        <!-- FIN CARD -->
    
                        <div class="card">
    
                            <div class="img"><img src="/static/css/images/menucombi/hbbq.png" alt="Combi BBQ"></div>
                            
                            
                            <div class="producto-info">
                                <h2 class="producto">2. Combi BBQ</h2>
                                <p class="texto">150 gr. de jugoso bife chorizo al GRILL cubierto de queso cheddar, aros de cebolla fritos, cebolla caramelizada, tocino crocante y salsa BBQ.
    Todo en pan artesanal de papa.</p></div>
    
                            <div class="precio"><h3>Bs. 33</h3></div>
    
                            <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>
                        </div>
                        <div class="card">
    
                            <div class="img"><img src="/static/css/images/menucombi/hongos.png" alt="Combi Hongos"></div>
                            
                            
                            <div class="producto-info">
                                <h2 class="producto">3. Combi Hongos</h2>
                                <p class="texto">150 gr. de jugoso bife chorizo al GRILL cubierto de queso gouda, hongo ostra grillado y salsa de hongos de la casa.
    Todo en pan artesanal de papa.</p></div>
    
                            <div class="precio"><h3>Bs. 33</h3></div>
    
                            <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>
                        </div>
                        <div class="card">
    
                            <div class="img"><img src="/static/css/images/menucombi/hmexicana.png" alt="Mexican Combi"></div>
                            
                            
                            <div class="producto-info">
                                <h2 class="producto">4. Mexican Combi</h2>
                                <p class="texto">150 gr. de una jugosa mezcla de bife chorizo y carne de cerdo al GRILL cubierto de queso cheddar, guacamole, pico de gallo, jalapeño encurtido.
    Todo en pan artesanal de papa.</p></div>
    
                            <div class="precio"><h3>Bs. 32</h3></div>
    
                            <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>
                        </div>
    
    
    
                        <div class="card">
    
                            <div class="img"><img src="/static/css/images/menucombi/hmexicana.png" alt="Combi 4 Quesos"></div>
                            <!-- falta img -->
                            
                            <div class="producto-info">
                                <h2 class="producto">5. Combi 4 Quesos</h2>
                                <p class="texto">150 gr. de bife chorizo al GRILL cubierto de 4 tipos de queso, (cheddar, parmesano, San Javier y salsa blue cheese).
    Todo en pan artesanal de papa.</p></div>
    
                            <div class="precio"><h3>Bs. 35</h3></div>
    
                            <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>
    
                        </div>
                        <div class="card">
    
                            <div class="img"><img src="/static/css/images/menucombi/hmexicana.png" alt="Combi Buffalo"></div>
                            <!-- falta img -->
                            
                            <div class="producto-info">
                                <h2 class="producto">6. Combi Buffalo</h2>
                                <p class="texto">Para los amantes de lo picante, 150 gr. de bife chorizo al GRILL bañada en salsa buffalo, locoto encurtido y salsa blue cheese.
    Todo en pan artesanal de papa.</p></div>
    
                            <div class="precio"><h3>Bs. 35</h3></div>
    
                            <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>
                        </div>
                    </form>
                </div>

                <div class="content-derecha">
                    <div class="especialidades">
                        <h3 class="titulo-esp">Especialidades de Combi:</h3>
                        <p class="textoespecialidades">Combi grilled burger es una linea de comida de la
                            familia Studio Cuisine. Este restaurante sirve los mejores 
                            platos con carne a la parrila como pueden ser hambur
                            guesas clasicas o hamburguesas con hongos.  Combi no solo 
                            sirve las mejores hamburguesas de la ciudad sino une a toda 
                            la familia en un ambiente agradable o brinda el envio a sus consumidores.</p>
                    </div>

                    <div class="marcas">
                        <h4 class="titulo-esp">Nuestras marcas:</h4>
                        <a class="link-marcas" href="/templates/pocho.html">
                            <img class="img-marcas" src="/static/css/images/pocho_img.png" alt="Imagen pocho el pollo">
                        </a>
                        <a class="link-marcas" href="/templates/salchipapus.html">
                            <img class="img-marcas" src="/static/css/images/salchis_img.png" alt="Imagen pocho el pollo">
                        </a>
                        <a class="link-marcas" href="/templates/maito.html">
                            <img class="img-marcas" src="/static/css/images/maito_img.png" alt="Imagen pocho el pollo">
                        </a>

                    </div>

                </div>

            </div>

        </div>
    
    </section>
    <section class="informacionadicional">
        <div class="container2">
            <div class="acercade">
                <div class="card1">    
                    <div class="producto-info">
                        <h2 class="producto">Acerca de:</h2>
                        <p class="texto">Studio Cuisine es un Dark Kitchen donde puedes encontrar 
                            diferentes líneas de comida para degustar y escoger según tu gusto.</p></div>
                </div>
                <div class="card1">    
                    <div class="producto-info">
                        <h2 class="producto">Información:</h2>
                        <p class="texto">Donde encontrarnos:
                            Auquisamaña Alto, Calle Jazmines #100.</p></div>
                </div>
                <div class="card1">    
                    <div class="producto-info">
                        <h2 class="producto">Contacto:</h2>
                        <p class="texto">Celular:  79151105
                            email: std.cuisine@gmail.com</p></div>
                </div>

            </div>


            <div class="imagenlogo2">
                <img class="logo2"src="/static/css/images/logostudiocuisine.png" alt="LogoStudioCuisine2">


            </div>

        </div>



    </section>


</body>
</html>