<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio Cuisine</title>
        <!-- REFERENCIAMOS A GOOGLE FONTS CON LA FUENTE SRIRACHA -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
        <!-- LINK A CSS -->
        <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
        <!-- COPIA DEL HEADER NORMAL -->
        <header>
            <div class="container">
            <!-- Vamos a poner nuestros elementos dentro de un container y le damos un ancho maximo, margen automatico para que se mantenga en el centro -->
                <img class="logo" src="/static/css/images/logostudiocuisine.png" alt="Logo StudioCuisine">      
            <!-- <div class="logocuisine"></div> -->
                  
                  <nav>
                      <a href="/templates/index.html">Inicio</a>
                      <a href="/templates/combi.html">Productos</a>
                      <a href="#">Antójate</a>
                      <a href="#">Restaurantes</a>
                      <a href="#">Contactanos</a>
                      <a href=""></a><!-- PEDIR Aqui se hara el pedido xd -->
                  </nav>   
              </div>
              
      
    </header>
    <section id="hero">
        
           <div class="img-container"></div>



           <div class="texto">
                <h2>¡Más que una cadena de cocina!</h2>

                    <p>Studio Cuisine es un restaurante que maneja diferentes líneas de comida dentro. 
                    <br>Las líneas de comida
                    son: “Combi” (comida rápida), <br>“Máito Chifa” (chifa peruana), <br>“Lego Burger” (hamburguesas armadas al
                    estilo de cada cliente), <br>“Salchipapus” (salchipapas) y <br>“Pocho el Pollo” (pollo frito).</p>

                    <a class="links-button" href="/templates/combi.html">Antojate</a>  
                    <a class="links-button" href="/templates/combi.html">Ver Menu</a>  
            </div>



        
    </section>

    <section id="vermenu">
        <div class="container">
        <h3>Selecciona una de las imágenes para ingresar al menú del restaurante:</h3>       
            <!-- Al poner .carta automaticamente lo identifica como si fuera "div.carta -->
            <!-- En este caso usa: .carta*3 porque necesita 3 -->
            <!-- Se clikea un cursor despues mantienes alt para tener el cursor en 3 partes -->
            
            <!-- NECESITAMOS UN CONTAINER PARA EVITAR QUE CUANDO LA PESTAÑA SE VAYA REDUCIENDO LA PAGINA WEB SE ALOQUE xd -->
            
            <!-- .programas, un contenedor que nos va a servir para envolverlos a todos -->
            <div class="programas">
            
            <div class="carta">
                    <h3>Combi</h3>
                    <a class="links-button" href="/templates/combi.html">Pedir</a>      
    
            </div>
            <div class="carta">
                    <h3>Salchipapus</h3>    
                    <a class="links-button" href="/templates/salchipapus.html">Pedir</a>      
         
            </div>
            <div class="carta">
                    <h3>Maito Chifa</h3>
                    <a class="links-button" href="/templates/maito.html">Pedir</a>                
            </div>
            <div class="carta">
                <h3>Pocho el pollo</h3>
                <a class="links-button" href="/templates/pocho.html">Pedir</a>         
        </div>
            </div>
        </div>    
    <section class="informacionadicional">
        <div class="container2">
            <div class="acercade">
                <div class="card1">    
                    <div class="producto-info">
                        <h2 class="producto">Acerca de:</h2>
                        <p class="texto">Studio Cuisine es un Dark Kitchen donde puedes encontrar 
                            diferentes líneas de comida para degustar y escoger según tu gusto.</p></div>
                </div>
                <div class="card1">    
                    <div class="producto-info">
                        <h2 class="producto">Información:</h2>
                        <p class="texto">Donde encontrarnos:
                            Auquisamaña Alto, Calle Jazmines #100.</p></div>
                </div>
                <div class="card1">    
                    <div class="producto-info">
                        <h2 class="producto">Contacto:</h2>
                        <p class="texto">Celular:  79151105
                            email: std.cuisine@gmail.com</p></div>
                </div>

            </div>


            <div class="imagenlogo2">
                <img class="logo2"src="/static/css/images/logostudiocuisine.png" alt="LogoStudioCuisine2">


            </div>

        </div>



    </section>
</body>
</html>