<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Maito</title>
<!-- REFERENCIAMOS A GOOGLE FONTS CON LA FUENTE SRIRACHA -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
<!-- LINK A CSS -->
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles-maito.css') }}" />
</head>
<body>
    <!-- COPIA DEL HEADER NORMAL -->
    <header>
        <div class="container">
        <!-- Vamos a poner nuestros elementos dentro de un container y le damos un ancho maximo, margen automatico para que se mantenga en el centro -->
            <img class="logo" src="/static/css/images/logostudiocuisine.png" alt="Logo StudioCuisine">      
        <!-- <div class="logocuisine"></div> -->
              
              <nav>
                  <a href="/templates/index.html">Inicio</a>
                  <a href="/templates/menu1combi.html">Productos</a>
                  <a href="#">Antójate</a>
                  <a href="#">Restaurantes</a>
                  <a href="#">Contactanos</a>
                  <a href=""></a><!-- PEDIR Aqui se hara el pedido xd -->
              </nav>   
          </div>
          
  
</header>

<section class="seccionmenu">
    <div class="fondogris">
        <h1 class="titulomenu">MENU MAITO</h1>
        <div class="contenido">
            <div class="container-cards">

                 <!-- FORMULARIO -->
                 <form action="/templates/carrito.html" method="get">

                    <!-- INICIA CARD -->
                    <div class="card">

                        <div class="img"><img src="/static/css/images/menumaitochifa/arrozchaufa.png" alt="Arroz Chaufa"></div>
                        
                        
                        <div class="producto-info">
                            <h2 class="producto">1. Arroz Chaufa</h2>
                            <p class="texto">Arroz salteado en Wok con aceite de sésamo, pimiento dulce, salsa soya, tortilla de huevo, sésamo tostado y cebollin. (con carne de res o pollo)</p></div>

                        <div class="precio"><h3>Bs. 27 </h3></div>

                        <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>

                        
                    </div>
                    <!-- FIN CARD -->

                    <div class="card">

                        <div class="img"><img src="/static/css/images/menumaitochifa/tallarinsalteado.png" alt="Tallarin Salteado"></div>
                        
                        
                        <div class="producto-info">
                            <h2 class="producto">2. Tallarin Salteado</h2>
                            <p class="texto">Tallarín salteado en Wok con tortilla de huevo, arveja china, repollos verde y morado, pimiento dulce, todo glaseado en fondo de res, sésamo tostado y cebollín. (con carne de res o pollo)</p></div>

                        <div class="precio"><h3>Bs. 27 </h3></div>

                        <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>
                    </div>
                    <div class="card">

                        <div class="img"><img src="/static/css/images/menucombi/hmexicana.png" alt="Aeropuerto"></div>
                        <!-- falta img -->
                        
                        <div class="producto-info">
                            <h2 class="producto">3. Aeropuerto</h2>
                            <p class="texto">Tradicional mezcla de arroz chaufa y tallarín salteado, con tortilla de huevo, repollo verde y morado, pimiento dulce, salsa de ostra, fondo de res, sésamo tostado y cebollín. (con carne de res o pollo)</p></div>

                        <div class="precio"><h3>Bs. 27 </h3></div>

                        <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>
                    </div>
                    <div class="card">

                        <div class="img"><img src="/static/css/images/menumaitochifa/kungpao.png" alt="Kung Pao"></div>
                        
                        
                        <div class="producto-info">
                            <h2 class="producto">4. Kung Pao</h2>
                            <p class="texto">Chicharrón de pollo salteado con, locoto, arveja china, pimiento dulce y mani crocante, glaseado en salsa de Kung Pao con jengibre y sésamo tostado.
A elección, arroz chaufa, tallarín salteado o aeropuerto (mixto).</p></div>

                        <div class="precio"><h3>Bs. 35</h3></div>

                        <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>
                    </div>



                    <div class="card">

                        <div class="img"><img src="/static/css/images/menumaitochifa/lomosaltado.png" alt="Lomo Saltado con Setas y Frutos Secos"></div>
                        
                        
                        <div class="producto-info">
                            <h2 class="producto">5. Lomo Saltado con Setas y Frutos Secos</h2>
                            <p class="texto">Lomo de res madurado y laminado. salteado al Wok, con hongos ostra, arveja china y frutos secos, todo glaseado en nuestro fondo de res.
A eleccion, arroz chaufa, tallarin salteado o aeropuerto (mixto).</p></div>

                        <div class="precio"><h3>Bs. 35</h3></div>

                        <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>

                    </div>
                    <div class="card">

                        <div class="img"><img src="/static/css/images/menumaitochifa/costilladecerdo.png" alt="Costilla de Cerdo en Salsa de Tumbo"></div>
                        
                        
                        <div class="producto-info">
                            <h2 class="producto">6. Costilla de Cerdo en Salsa de Tumbo</h2>
                            <p class="texto">250 gr. de delicioso chicharrón de cerdo, glaseado en salsa agridulce de tumbo.
A elección, arroz chaufa, tallarín salteado o aeropuerto (mixto).</p></div>

                        <div class="precio"><h3>Bs. 37</h3></div>

                        <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>
                    </div>
                </form>
            </div>

            <div class="content-derecha">
                <div class="especialidades">
                    <h3 class="titulo-esp">Especialidades de Maito Chifa:</h3>
                    <p class="textoespecialidades">Maito chifa es una linea de comida de la familia Studio Cuisine. Este restaurante sirve los mejores platos en base a distintos tipos de chifas inspirados en diferentes culturas como ser la peruana y china, ademas, de unir con sus sabores  a toda la familia en un ambiente agradable o brinda el envio a sus consumidores.</p>
                </div>

                <div class="marcas">
                    <h4 class="titulo-esp">Nuestras marcas:</h4>
                    <a class="link-marcas" href="/templates/pocho.html">
                        <img class="img-marcas" src="/static/css/images/pocho_img.png" alt="Imagen pocho el pollo">
                    </a>
                    <a class="link-marcas" href="/templates/combi.html">
                        <img class="img-marcas" src="/static/css/images/combi_img.png" alt="Imagen pocho el pollo">
                    </a>
                    <a class="link-marcas" href="/templates/salchipapus.html">
                        <img class="img-marcas" src="/static/css/images/salchis_img.png" alt="Imagen pocho el pollo">
                    </a>

                </div>

            </div>

        </div>

    </div>

</section>
<section class="informacionadicional">
    <div class="container2">
        <div class="acercade">
            <div class="card1">    
                <div class="producto-info">
                    <h2 class="producto">Acerca de:</h2>
                    <p class="texto">Studio Cuisine es un Dark Kitchen donde puedes encontrar 
                        diferentes líneas de comida para degustar y escoger según tu gusto.</p></div>
            </div>
            <div class="card1">    
                <div class="producto-info">
                    <h2 class="producto">Información:</h2>
                    <p class="texto">Donde encontrarnos:
                        Auquisamaña Alto, Calle Jazmines #100.</p></div>
            </div>
            <div class="card1">    
                <div class="producto-info">
                    <h2 class="producto">Contacto:</h2>
                    <p class="texto">Celular:  79151105
                        email: std.cuisine@gmail.com</p></div>
            </div>

        </div>


        <div class="imagenlogo2">
            <img class="logo2"src="/static/css/images/logostudiocuisine.png" alt="LogoStudioCuisine2">


        </div>

    </div>



</section>


</body>
</html>