<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Pocho el Pollo</title>
<!-- REFERENCIAMOS A GOOGLE FONTS CON LA FUENTE SRIRACHA -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
<!-- LINK A CSS -->
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles-maito.css') }}" />
</head>
<body>
    <!-- COPIA DEL HEADER NORMAL -->
    <header>
        <div class="container">
        <!-- Vamos a poner nuestros elementos dentro de un container y le damos un ancho maximo, margen automatico para que se mantenga en el centro -->
            <img class="logo" src="/static/css/images/logostudiocuisine.png" alt="Logo StudioCuisine">      
        <!-- <div class="logocuisine"></div> -->
              
              <nav>
                  <a href="/templates/index.html">Inicio</a>
                  <a href="/templates/menu1combi.html">Productos</a>
                  <a href="#">Antójate</a>
                  <a href="#">Restaurantes</a>
                  <a href="#">Contactanos</a>
                  <a href=""></a><!-- PEDIR Aqui se hara el pedido xd -->
              </nav>   
          </div>
          
  
</header>

<section class="seccionmenu">
    <div class="fondogris">
        <h1 class="titulomenu">MENU MAITO</h1>
        <div class="contenido">
            <div class="container-cards">

                 <!-- FORMULARIO -->
                 <form action="/templates/carrito.html" method="get">

                    <!-- INICIA CARD -->
                    <div class="card">

                        <div class="img"><img src="/static/css/images/menupocho/pipocasdepollo.png" alt="Pipocas de Pollo"></div>
                        
                        
                        <div class="producto-info">
                            <h2 class="producto">1. Pipocas de Pollo</h2>
                            <p class="texto">Pipocas de pollo acompañadas de papas fritas.</p></div>

                        <div class="precio"><h3>Bs. 23 </h3></div>

                        <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>

                        
                    </div>
                    <!-- FIN CARD -->

                    <div class="card">

                        <div class="img"><img src="/static/css/images/menupocho/cuartodepollo.png" alt="CUARTO POLLO"></div>
                        
                        
                        <div class="producto-info">
                            <h2 class="producto">2. CUARTO POLLO</h2>
                            <p class="texto">1/4 de pollo a la broaster acompañado de papas fritas y arroz.</p></div>

                        <div class="precio"><h3>Bs. 25 </h3></div>

                        <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>
                    </div>
                    <div class="card">

                        <div class="img"><img src="/static/css/images/menupocho/octavodepollo.png" alt="OCTAVO POLLO"></div>
                        
                        
                        <div class="producto-info">
                            <h2 class="producto">3. OCTAVO POLLO</h2>
                            <p class="texto">1/8 de pollo a la broaster acompañado de papas fritos y arroz.</p></div>

                        <div class="precio"><h3>Bs. 18 </h3></div>

                        <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>
                    </div>
                </form>
            </div>

            <div class="content-derecha">
                <div class="especialidades">
                    <h3 class="titulo-esp">Especialidades de Pocho el Pollo:</h3>
                    <p class="textoespecialidades">Pocho es una linea de comida de la familia Studio Cuisine. Este restaurante sirve mejores platos en base a pollo como pueden ser pipocas de pollo o pollo frito.  Pocho no solo sirve los mejores pollos de la ciudad sino une a toda la familia en un ambiente agradable o brinda el envio a sus consumidores.</p>
                </div>

                <div class="marcas">
                    <h4 class="titulo-esp">Nuestras marcas:</h4>
                    <a class="link-marcas" href="/templates/maito.html">
                        <img class="img-marcas" src="/static/css/images/maito_img.png" alt="Imagen pocho el pollo">
                    </a>
                    <a class="link-marcas" href="/templates/combi.html">
                        <img class="img-marcas" src="/static/css/images/combi_img.png" alt="Imagen pocho el pollo">
                    </a>
                    <a class="link-marcas" href="/templates/salchipapus.html">
                        <img class="img-marcas" src="/static/css/images/salchis_img.png" alt="Imagen pocho el pollo">
                    </a>

                </div>

            </div>

        </div>

    </div>

</section>
<section class="informacionadicional">
    <div class="container2">
        <div class="acercade">
            <div class="card1">    
                <div class="producto-info">
                    <h2 class="producto">Acerca de:</h2>
                    <p class="texto">Studio Cuisine es un Dark Kitchen donde puedes encontrar 
                        diferentes líneas de comida para degustar y escoger según tu gusto.</p></div>
            </div>
            <div class="card1">    
                <div class="producto-info">
                    <h2 class="producto">Información:</h2>
                    <p class="texto">Donde encontrarnos:
                        Auquisamaña Alto, Calle Jazmines #100.</p></div>
            </div>
            <div class="card1">    
                <div class="producto-info">
                    <h2 class="producto">Contacto:</h2>
                    <p class="texto">Celular:  79151105
                        email: std.cuisine@gmail.com</p></div>
            </div>

        </div>


        <div class="imagenlogo2">
            <img class="logo2"src="/static/css/images/logostudiocuisine.png" alt="LogoStudioCuisine2">


        </div>

    </div>



</section>


</body>
</html>