<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar usuario</title>
    <!-- REFERENCIAMOS A GOOGLE FONTS CON LA FUENTE SRIRACHA -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <!-- LINK A CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles-quitar.css') }}" />



</head>
<body>
    <header>
        <div class="container">
        <!-- Vamos a poner nuestros elementos dentro de un container y le damos un ancho maximo, margen automatico para que se mantenga en el centro -->
            <img class="logo" src="/static/css/images/logostudiocuisine.png" alt="Logo StudioCuisine">      
        <!-- <div class="logocuisine"></div> -->
              
              <nav>
                  <a href="#seccion1">Inicio</a>
                  <a href="#">Productos</a>
                  <a href="#">Antójate</a>
                  <a href="#">Restaurantes</a>
                  <a href="#">Contactanos</a>
                  <a href=""></a><!-- PEDIR Aqui se hara el pedido xd -->
              </nav>   
          </div>
          
  
</header>

<!-- ========================================================================================== -->
<section class="seccionlogin">
    <div class="fondogris">

        <h1 class="tituloregistrar">Eliminar Administrador</h1>
        <img class="imagenlogin" src="/static/css/images/eliminar.png" alt="Logo StudioCuisine">      
        
        <!-- CAMBIAR: action="por la direccion de la pagina web a donde se quiere enviar despues de enviar el formulario(login).html" -->
        
        <form action="/Paginaweb/index.html" method="POST" class="formulario">
<!-- AQUI YA SABEN, CAMBIAN el method ENTRE "GET"(no seguro"se muestra en el link de arriba") Y "POST"(seguro"NO se muestra en el link de arriba") para las pruebas -->
            <div class="formularioescritura">
                <label for="iuser" class="label">Ingrese Usuario: </label>   
                <input id="iuser" class="campo" name="user" placeholder="Ingrese un nombre de usuario">
            </div>
            
            <!--para backend usar name de ambos campos-->
            <!-- campos para backend: user(usuario) -->

            
            <input class="botonregistrarse" type="submit" value="Borrar">

        </form>
        <!-- Este boton no tiene funcion por ahora xd, deberia ser un link a otra pagina, lo hare despues :) -->
        <a href="/templates/admin.html" class="atras">Atras</a>
    </div>

</section>
</body>
</html>