<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Salchipapus</title>
<!-- REFERENCIAMOS A GOOGLE FONTS CON LA FUENTE SRIRACHA -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
<!-- LINK A CSS -->
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles-salchipapus.css') }}" />
</head>
<body>
    <!-- COPIA DEL HEADER NORMAL -->
    <header>
        <div class="container">
        <!-- Vamos a poner nuestros elementos dentro de un container y le damos un ancho maximo, margen automatico para que se mantenga en el centro -->
            <img class="logo" src="/static/css/images/logostudiocuisine.png" alt="Logo StudioCuisine">      
        <!-- <div class="logocuisine"></div> -->
              
              <nav>
                  <a href="/templates/index.html">Inicio</a>
                  <a href="/templates/menu1combi.html">Productos</a>
                  <a href="#">Antójate</a>
                  <a href="#">Restaurantes</a>
                  <a href="#">Contactanos</a>
                  <a href=""></a><!-- PEDIR Aqui se hara el pedido xd -->
              </nav>   
          </div>
          
  
</header>

<section class="seccionmenu">
    <div class="fondogris">
        <h1 class="titulomenu">MENU SALCHIPAPUS</h1>
        <div class="contenido">
            <div class="container-cards">

                  <!-- FORMULARIO -->
                  <form action="/templates/carrito.html" method="get">

                    <!-- INICIA CARD -->
                    <div class="card">

                        <div class="img"><img src="/static/css/images/menusalchipapus/ssalchipapu.png" alt="Salchipapu"></div>
                        
                        
                        <div class="producto-info">
                            <h2 class="producto">1. Salchipapu</h2>
                            <p class="texto">Deliciosa salchipapa al estilo tradicional</p></div>

                        <div class="precio"><h3>Bs. 18</h3></div>

                        <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>

                        
                    </div>
                    <!-- FIN CARD -->

                    <div class="card">

                        <div class="img"><img src="/static/css/images/menusalchipapus/sargentina.png" alt="Argentina"></div>
                        
                        
                        <div class="producto-info">
                            <h2 class="producto">2. Salchipapu Argentina</h2>
                            <p class="texto">Salchipapa acompañada de un asado a la parrilla chorizo premium y chimichurri.</p></div>

                        <div class="precio"><h3>Bs. 23</h3></div>

                        <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>
                    </div>
                    <div class="card">

                        <div class="img"><img src="/static/css/images/menusalchipapus/smexicana.png" alt="Mexicana"></div>
                        
                        
                        <div class="producto-info">
                            <h2 class="producto">3. Salchipapu Mexicana</h2>
                            <p class="texto">Salchipapa acompañada de cubos de cerdo frito, salsa de palta, pico de gallo, jalapeño encurtido y totopos (nachos) </p></div>

                        <div class="precio"><h3>Bs. 23</h3></div>

                        <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>
                    </div>
                    <div class="card">

                        <div class="img"><img src="/static/css/images/menusalchipapus/speruana.png" alt="Peruana"></div>
                        
                        
                        <div class="producto-info">
                            <h2 class="producto">4. Salchipapu Peruana</h2>
                            <p class="texto">Salchipapa con cubos de filete de pollo en salsa de ají, huevo frito y cilantro picado.</p></div>

                        <div class="precio"><h3>Bs. 23</h3></div>

                        <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>
                    </div>



                    <div class="card">

                        <div class="img"><img src="/static/css/images/menusalchipapus/scerdo.png" alt="Cerdo"></div>
                        
                        
                        <div class="producto-info">
                            <h2 class="producto">5. Salchipapu Cerdo</h2>
                            <p class="texto">Salchipapa con cubos de cerdo frito, tocino ahumado y chorizo premium.</p></div>

                        <div class="precio"><h3>Bs. 23</h3></div>

                        <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>

                    </div>
                    <div class="card">

                        <div class="img"><img src="/static/css/images/menusalchipapus/s4quesos.png" alt="4 Quesos"></div>
                        
                        
                        <div class="producto-info">
                            <h2 class="producto">6. Salchipapu 4 Quesos</h2>
                            <p class="texto">Salchipapa bañada en 4 tipos de queso fundidos.
	⁃	﻿﻿Cheddar
	⁃	﻿﻿Parmesano
	⁃	﻿﻿San Javier
	⁃	﻿﻿Blue Cheese </p></div>

                        <div class="precio"><h3>Bs. 35</h3></div>

                        <div class="contenedorboton"><input class="textocarrito" type="submit" value="Añadir al carrito"></div>
                    </div>
                </form>
            </div>

            <div class="content-derecha">
                <div class="especialidades">
                    <h3 class="titulo-esp">Especialidades de Salchipapus:</h3>
                    <p class="textoespecialidades">SalchiPapus es una linea de comida de la familia Studio Cuisine. Este restaurante sirve los mejores platos en base a salchipapas como pueden ser salchipapus argentina o mexicana.  SalchiPapus no solo sirve las mejores salchipapas de la ciudad sino une a toda la familia en un ambiente agradable o brinda el envio a sus consumidores.</p>
                </div>

                <div class="marcas">
                    <h4 class="titulo-esp">Nuestras marcas:</h4>
                    <a class="link-marcas" href="/templates/pocho.html">
                        <img class="img-marcas" src="/static/css/images/pocho_img.png" alt="Imagen pocho el pollo">
                    </a>
                    <a class="link-marcas" href="/templates/combi.html">
                        <img class="img-marcas" src="/static/css/images/combi_img.png" alt="Imagen pocho el pollo">
                    </a>
                    <a class="link-marcas" href="/templates/maito.html">
                        <img class="img-marcas" src="/static/css/images/maito_img.png" alt="Imagen pocho el pollo">
                    </a>

                </div>

            </div>

        </div>

    </div>

</section>
<section class="informacionadicional">
    <div class="container2">
        <div class="acercade">
            <div class="card1">    
                <div class="producto-info">
                    <h2 class="producto">Acerca de:</h2>
                    <p class="texto">Studio Cuisine es un Dark Kitchen donde puedes encontrar 
                        diferentes líneas de comida para degustar y escoger según tu gusto.</p></div>
            </div>
            <div class="card1">    
                <div class="producto-info">
                    <h2 class="producto">Información:</h2>
                    <p class="texto">Donde encontrarnos:
                        Auquisamaña Alto, Calle Jazmines #100.</p></div>
            </div>
            <div class="card1">    
                <div class="producto-info">
                    <h2 class="producto">Contacto:</h2>
                    <p class="texto">Celular:  79151105
                        email: std.cuisine@gmail.com</p></div>
            </div>

        </div>


        <div class="imagenlogo2">
            <img class="logo2"src="/static/css/images/logostudiocuisine.png" alt="LogoStudioCuisine2">


        </div>

    </div>



</section>


</body>
</html>